@import '../common/common';
@import '../common/root';

.info{
    padding: 70px 0;
    @include media(768px){
        padding: 50px 15px;
    }
}

.info-contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-contact h2{
    margin-bottom: 20px;
    @include font(30px, 35px, $black, 700, 'Bebas Neue')
}

.info-contact h3{
    text-align: center;
    margin-bottom: 50px;
    @include font(17px, 26px, $black, 300, 'Roboto')
}

.advantages{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 70px;
    gap: 70px;

    @include media(992px){
        gap: 50px;
    }
    @include media(768px){
        gap: 30px;
        margin-bottom: 40px;
    }
    @include media(576px){
        flex-direction: column;
        align-items: center;
    }
}

.advantage{
    width: 45%;
    display: flex;
    flex-direction: column;
    @include media(576px){
        align-items: center;
        text-align: center;
        width: 100%;
    }
}

.top{
    display: flex;
    margin-bottom: 20px;
    @include media(768px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include media(576px){
        margin-left: 0;
    }
}

.item-icon{
    padding: 20px 30px;
    border-radius: 15px;
    box-shadow: $bsStep;
    @include media(768px){
        padding: 10px 20px;
    }
}

h4{
    margin-left: 20px;
    @include font(20px, 30px, $black, 700, 'Roboto');
    @include media(768px){
        margin-left: 0;
        margin-top: 20px;
    }
}

.advantage p{
    @include font(17px, 26px, $black, 300, 'Roboto')
}

h5{
    @include font(30px, 35px, $black, 700, 'Bebas Neue');
    margin-bottom: 50px;
    @include media(768px){
        margin-bottom: 30px;
    }
    @include media(576px){
        font-size: 20px;
        line-height: 25px;
    }
}

.item-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(768px){
        gap: 20px
    }
}

.item-btn p{
    @include font(20px, 30px, $black, 500, 'Roboto');
    @include media(576px){
        max-width: 440px;
        width: 100%;
    }  
    @include media(480px){
        font-size: 16px;
    }
}

.item-btn span{
    width: 25px;
    height: 25px;
    position: relative;
}

.item-btn span::before{
    top: 50%;
    left: 0;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: $black; 
    transition: 0.5s ease-in-out;
}

.item-btn span.active::before{
    transform: rotate(-45deg);
    transition: 0.5s ease-in-out;
}
.item-btn span.active::after{
    transform: rotate(45deg);
    transition: 0.5s ease-in-out;
}

.item-btn span::after{
    transform: rotate(90deg);
    top: 50%;
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: $black; 
    transition: 0.5s ease-in-out;
}

.accordion-item{
    padding: 30px;
    box-shadow: $bsCard;
    border-bottom: 2px solid $gray;
    @include media(768px){
        padding: 15px;
    }
}

.item-content{
   padding-top: 20px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item-content p{
    max-width: 650px;
    width: 100%;
   @include font(17px, 27px, $black, 300, 'Roboto')
}




