@import '../common/common';
@import '../common/root';

.section1{
    text-align: center;
    background: $white;
    padding: 70px 0;
    @include media(992px){
        padding: 50px 0;
    }
    @include media(576px){
        padding: 30px 0;
    }
}

.section1 h2{
   max-width: 800px;
   width: 100%;
   margin:  0 auto 20px ;
    @include font(30px, 35px, $black, 700, 'bebas neue')
}

.section1 h3{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto 50px;
    @include font(17px, 27px, $black, 300, 'Roboto');
    @include media(768px){
       margin-bottom: 30px;
    }
}

.items{
    gap: 40px;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    @include media(660px){
        gap: 20px;
    }
    @include media(576px){
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
    }
}

.item{
    grid-column: span 1;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    // align-items: center;
    @include media(576px){
        grid-column: span 2;
    }
    @include media(480px){
        grid-column: span 4;
         align-items: center;
    }
}

.top{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
    @include media(576px){
        
        margin-left: 30px;
    }
    @include media(480px){
        margin-left: 0;
        justify-content: center;
    }
}


.top p{
    position: absolute;
    top: 38%;
    left: 11%;
    @include font(20px, 16px, $black, 700, 'bebas neue');
    @include media(768px){
        font-size: 16px;
        left: 22%;
    }
    @include media(630px){
        left: 14%;
    }
    @include media(576px){
        left: 13%;
        width: max-content;
    }
    @include media(480px){
        left: 47%;
    }
}

.item-text{
    text-align: left;
    @include font(17px, 27px, $black, 400, 'Roboto');
    @include media(768px){
        font-size: 15px;
    }
    @include media(480px){
        text-align: center;
    }
}